# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.pytest_cache/

# Flutter / Dart
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock
frontend/web/
frontend/android/
frontend/ios/
frontend/linux/
frontend/macos/
frontend/windows/

# OS / editor
.DS_Store
.idea/
.vscode/
*.iml
